.App {
  height: 100vh;
  display: grid;
  text-align: center;
  border: solid 1px rebeccapurple;
  background: thistle;
}
.navigation {
  position: fixed;
  width: 18vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  background: sandybrown;
}
ul {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: snow;
}

a:active {
  color: rebeccapurple;
}

a:hover {
  color: aqua;
}